---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Stellar Vector">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton-auto.css">
    <link rel="stylesheet" href="css/brands.css">
  <link rel="icon" type="image/png" href="images/stellarvector.png">
  <style>
    .button.button-sv{color: #ffffff;background-color: {{ site.primary_color }};}
    .button.button-sv:hover,.button.button-sv:focus{filter: brightness(90%);}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
        <img src="images/stellarvector-128.png" class="avatar" srcset="images/stellarvector-128.png 2x" alt="Stellar Vector Logo">
        <h1 role="heading">{{ site.title }}</h1>
        <p>Find us on:</p>
        {% for link in site.data.links %}
          <a class="button button-{{ link.button }}"
              href="{{ link.url }}"
              target="_blank"
              rel="noopener"
              role="button">
              {% if link.icon %}
                <img class="icon"
                    aria-hidden="true"
                    src="images/icons/{{ link.icon }}"
                    alt="{{ link.icon_alt }}">
              {% endif %}
              {{ link.name }}
          </a><br>
        {% endfor %}
        <p><small style="color: #555">Adapted from <a href="https://littlelink.io" target="_blank" rel="noopener" role="button" style="color: #555">LittleLink</a>.</small></p>
      </div>
    </div>
  </div>
</body>
</html>
