.button {
  &.button-sv {
    background-color: rgba($accent_red, 0.1);
    border-color: rgba($accent_red, 0.4);
    &:hover { background-color: rgba($accent_red, 0.2); border-color: $accent_red; }
  }

  &.button-discord {
    background-color: rgba(#5865F2, 0.1);
    border-color: rgba(#5865F2, 0.4);
    &:hover { background-color: rgba(#5865F2, 0.2); border-color: #5865F2; }
  }

  &.button-faceb {
    background-color: rgba(#1877F2, 0.1);
    border-color: rgba(#1877F2, 0.4);
    &:hover { background-color: rgba(#1877F2, 0.2); border-color: #1877F2; }
  }

  &.button-github {
    background-color: rgba(#ffffff, 0.05);
    border-color: rgba(#ffffff, 0.2);
    &:hover { background-color: rgba(#ffffff, 0.1); border-color: #ffffff; }
  }

  &.button-instagram {
    background-color: rgba(#E4405F, 0.1);
    border-color: rgba(#E4405F, 0.4);
    &:hover { background-color: rgba(#E4405F, 0.2); border-color: #E4405F; }
  }

  &.button-linked {
    background-color: rgba(#0A66C2, 0.1);
    border-color: rgba(#0A66C2, 0.4);
    &:hover { background-color: rgba(#0A66C2, 0.2); border-color: #0A66C2; }
  }

  &.button-x {
    background-color: rgba(#ffffff, 0.05);
    border-color: rgba(#ffffff, 0.2);
    &:hover { background-color: rgba(#ffffff, 0.1); border-color: #ffffff; }
  }

  &.button-yt {
    background-color: rgba(#FF0000, 0.1);
    border-color: rgba(#FF0000, 0.4);
    &:hover { background-color: rgba(#FF0000, 0.2); border-color: #FF0000; }
  }

  &.button-htb {
    background-color: rgba(#9FEF00, 0.1);
    border-color: rgba(#9FEF00, 0.4);
    &:hover { background-color: rgba(#9FEF00, 0.2); border-color: #9FEF00; }
  }

  &.button-google-groups {
    background-color: rgba(#4285F4, 0.1);
    border-color: rgba(#4285F4, 0.4);
    &:hover { background-color: rgba(#4285F4, 0.2); border-color: #4285F4; }
  }

  &.button-dockerhub {
    background-color: rgba(#2496ED, 0.1);
    border-color: rgba(#2496ED, 0.4);
    &:hover { background-color: rgba(#2496ED, 0.2); border-color: #2496ED; }
  }
}
