<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404 Page Not Found | {{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {{ $themeCSS := resources.Get "css/main.css" }}
    {{ $customCSS := resources.Get "css/custom.css" }}
    {{ $opts := dict "minify" true }}
    {{ $css := slice $themeCSS $customCSS | resources.Concat "css/bundle.css" | css.TailwindCSS $opts }}

    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    <link rel="icon" type="image/png" href="https://www.stellarvector.be/assets/logo/favicon.ico">
</head>
<body class="antialiased flex items-center justify-center min-h-screen">
    <div class="text-center">
        <h1 class="text-6xl font-bold">404</h1>
        <p class="text-2xl mt-4">page not found</p>
        <a href="/" class="btn-base btn-sv mt-8 uppercase tracking-widest">Find Stellar Vector</a>
    </div>
</body>
<script defer data-domain="find.stellarvector.be" src="https://plausible.stellarvector.be/js/script.file-downloads.hash.outbound-links.js"></script>
</html>
